;; shadow-cljs configuration
{:source-paths
 ["src/it_eng"
  "src/test"]

 :dependencies
 []
 :deps true
 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:entries [it-eng.core]
                    :init-fn it-eng.core/init
                    :devtools {:after-load it-eng.core/re-render}}}
   :devtools {:http-root "public"
              :http-port 3000}}}}
