@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;400&family=Tilt+Prism&display=swap');

:root {
    --bg-dark: #12428a;
    --bg-highlight: #bcd4f8;
  }

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-highlight);
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-highlight);
}

.body-div {
    display: flex;
    align-content: center;
    flex-direction: row;
    position: relative;
    flex-direction: row;
    height: 100%;
    border: 1px solid #070606;
}


.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(0deg, #7cb8f0 0%, #6c9ef5 100%);
    align-items: center;
    padding: 0 1em;
    height: 22%;
    border: 1px solid #030303;
}

.image-headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: left;
    width: 100%;
    height: 20em;
    background-color: aliceblue;
}

.header-img {
    height: 20em;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

ul {
    display: flex;
    gap: 3em;
}

li {
    text-decoration: none;
    list-style: none;
}

.main {
    position: relative;
    padding-top: 12px;
    /* vertical double gradient background */
    background: linear-gradient(180deg, #7cb8f0 0%, #6c9ef5 100%);
    border: 1px solid #330707;
    width: 100%;
    justify-content: center;
    justify-items: center;
  }

.why-us{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 40em;
    background-color: #7cb8f0;
}

.why-us-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 20em;
    background-color: #7cb8f0;
}

.whyus-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 15em;
    height: 10em;
    background-color: aliceblue;
    padding: 1em;
    border-radius: 10px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* footer */
footer {
    padding: 0.2em 2.5em;
    text-align: center;
    background-color: var(--bg-dark);
    text-transform: uppercase   ;
    font-weight: 100;
    color: #080808;
    font-size: 1.5em;
    font-family: "Cabin Sketch";
    }

h1, h2 {
    text-align: center;
    font-family: 'Josefin Slab';
    margin: 3.1vh auto;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    }

.subtitle {
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
    width: 40%;
    margin: 15px auto;
    line-height: 1.2;
    text-align: justify;
    }

.any-text {
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
    width: 100%;
    margin: 15px auto;
    line-height: 1.2;
    border-radius: 8px;
    }
